.header-container{
    display: flex;
}
.logo{
    text-align: center;
}
.second-header{
  text-align: center; 
  padding: 30px 30px;

}
.download{
    padding: 5px 10px;
    background-color: rgb(77, 155, 168);

}
.btn{
    padding: 5px 10px;
    background-color: rgb rgb(236, 27, 191);
}
.carrosel{
    display: flex;
    height: 60%;
    justify-content: center;
}

.image4s{
width: 150px; 
padding: 5px;
border-radius: 15px;
margin: 10px 10px; 
align-content: center;
}
.smart-container{
    justify-content: center;
    text-align: center;
}
.footer-content{
 background-image: url(image-footer.jpg);   
 height: 150px;
 
 
}
.footer1{
    background-color: rgb(77, 137, 168);
    opacity: 80%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button{
    padding:10px 5px;
    background-color: rgb(77, 155, 168);
}
.footer2{
 padding: 30px 0.25px 20px;  
}